@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #f8f8f8 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #0a0641;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cbced6;
    border-radius: 1px;
    border: 1px solid #0a0641;
  } 
  .soya{
    box-shadow: 3px 59px 31px 8px rgba(0,0,0,0.94);
    -webkit-box-shadow: 3px 59px 31px 8px rgba(0,0,0,0.94);
    -moz-box-shadow: 3px 59px 31px 8px rgba(0,0,0,0.94);
  }
  .line {
    background: #267BFC;
    background: linear-gradient(to right, #267BFC 0%, #D2ABFF 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
    margin-bottom: 10px;
  }