@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  /* border: 10px solid white; */
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;  
    scrollbar-color: #f8f8f8 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #0a0641;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cbced6;
    border-radius: 1px;
    border: 1px solid #0a0641;
  } 
  .soya{
    box-shadow: 3px 59px 31px 8px rgba(0,0,0,0.94);
    -webkit-box-shadow: 3px 59px 31px 8px rgba(0,0,0,0.94);
    -moz-box-shadow: 3px 59px 31px 8px rgba(0,0,0,0.94);
  }
  .line {
    background: #267BFC;
    background: linear-gradient(to right, #267BFC 0%, #D2ABFF 54%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .animate-lop{
    animation: animation-loop ease infinite;
    position: relative;
    /* transform: translateX(1000px); */
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }


  @keyframes animation-loop {
    0%{transform: translateX(600px);}
    50%{transform: translateX(-600px);}
    100%{transform: translateX(-600px);}
  }
  @keyframes animation-loop2 {
    0%{transform: translateX(-600px);}
    100%{transform: translateX(600px);}
  }


.line_app{
  background: #1111CF;
  background: linear-gradient(to right, #1111CF 0%, #78FFF6 52%, #6325CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}






